
<div *ngIf="datos | async" >
  saludo
</div>
<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="0" [longitude]="0">
  <agm-marker-cluster *ngIf="datos | async" imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
   
    <agm-marker [latitude]="latIss" [longitude]="lngIss">
      <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
        <ng-template>
          My first Snazzy Info Window!
        </ng-template>
      </agm-snazzy-info-window>
    </agm-marker>
    <!-- multiple markers -->
    <agm-marker *ngFor="let num of numeros" [latitude]="num" [longitude]="num">
      <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
        <ng-template>
        {{num}}
        </ng-template>
      </agm-snazzy-info-window>
    </agm-marker>
    <!-- multiple markers -->
    
  </agm-marker-cluster>
</agm-map>